.productContent {
	width: 70%;
	padding-bottom: 3em;
}
.sectionTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
}
.sectionTitle p {
	font-size: 12rem;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.05);
}
.description {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.imageBox {
	max-width: 40%;
}
.descriptionDetails {
	max-width: 40%;
}
.descriptionDetails h3 {
	font-size: 2rem;
}
.descriptionDetails .break {
	content: "";
	height: 1.5px;
	width: 50%;
	background-color: var(--accent-color);
}
.descriptionDetails {
	display: flex;
	flex-direction: column;
	padding: 0 2em;
	gap: 2em;
}
.imageItem {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	cursor: zoom-in;
}
.imageItem img {
	min-height: 350px;
	object-fit: cover;
	transition: transform 0.2s;
}
.imageItem img:hover {
	transform: scale(1.1);
}
@media (max-width: 1399.98px) {
	.productContent {
		width: 90%;
	}
	.sectionTitle p {
		font-size: 10rem;
	}

	.descriptionDetails {
		width: 50%;
	}
}
@media (max-width: 991.98px) {
	.sectionTitle p {
		font-size: 7.5rem;
	}
}
@media (max-width: 767.98px) {
	.sectionTitle p {
		font-size: 5rem;
	}
	.description {
		margin: 0 1em;
	}
	.descriptionDetails {
		min-width: 50%;
	}
	.productContent {
		width: 100%;
	}
}
@media (max-width: 575.98px) {
	.sectionTitle p {
		font-size: 3.5rem;
	}

	.descriptionTitle {
		border-right: none;
		border-bottom: 1.5px solid var(--accent-color);
		padding-bottom: 1em;
		margin: 1em;
	}
	.descriptionDetails {
		padding: 0;
	}
}
