/* .productContent {
	width: 70%;
	padding-bottom: 3em;
}
.sectionTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
}
.sectionTitle p {
	font-size: 12rem;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.05);
}
.description {
	text-align: center;
}
.description h3 {
	font-size: 2rem;
}
.description .break {
	content: "";
	height: 1.5px;
	width: 50%;
	background-color: var(--accent-color);
	margin: 2em auto;
}


@media (max-width: 1399.98px) {
	.sectionTitle p {
		font-size: 10rem;
	}
	.productContent {
		width: 90%;
	}
}
@media (max-width: 1120.98px) {
	.sectionTitle p {
		font-size: 8rem;
	}
}
@media (max-width: 900.98px) {
	.sectionTitle p {
		font-size: 6.2rem;
	}
	
	.productContent {
		width: 95%;
	}
}
@media (max-width: 700.98px) {
	.sectionTitle p {
		font-size: 4.5rem;
	}
}
@media (max-width: 575.98px) {
	.sectionTitle p {
		font-size: 3.5rem;
	}
	.description {
		padding-top: 2em;
	}
} */
